body {
  background-color: black;
  color: rgba(189, 192, 205, 1);
}

a {
  text-decoration: none;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.item-name {
  color: rgba(189, 192, 205, 1);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  font-variation-settings: "wdth" 100;
}

.item-price {
  color: rgba(189, 192, 205, 1);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-variation-settings: "wdth" 100;
}

.patch-img {
  width: 100%;
}

figure {
  margin-left: 1rem;
  margin-right: 1rem;
}
