body {
  background-color: black;
  color: rgba(189, 192, 205, 1);
}

/*HEADER*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: black;
  width: 100%;
  z-index: 1000;
}

#logo {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: rgba(144, 177, 147, 1);
  text-align: center;
  font-size: 1.5rem;
  padding: 10px 10px;
}

#shoppingCartImg {
  width: 30px;
  margin-left: 1.7rem;
}
.nav-links {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  margin-left: auto;
  text-align: center;
}
.nav-item {
  color: rgba(189, 192, 205, 1);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  font-variation-settings: "wdth" 100;
  margin-left: 3rem;
  text-align: center;
}

.nav-item:visited {
  color: rgba(189, 192, 205, 1);
}
.nav-item:hover {
  color: rgba(144, 177, 147, 1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 20px;
  width: 100%;
  text-align: center;
}

/* hide haburger icon when bigger screen */
.hamburger-container {
  display: none;
}

.cart-wrapper {
  display: block;
  align-content: center;
}
.cart-icon {
  align-content: center;
}

/*MAIN*/

.main-texts {
  margin-left: 1rem;
}
main {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.main-img {
  width: 50%;
}
.heading-welcome {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  font-variation-settings: "wdth" 100;
}

.text-homepage {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-variation-settings: "wdth" 100;
}

/*FOOTER*/
#contacts {
  color: rgba(189, 192, 205, 1);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  font-variation-settings: "wdth" 100;
  margin-bottom: 1rem;
}

#mail {
  padding-left: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  font-variation-settings: "wdth" 100;
}
.social-media {
  margin-left: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  img {
    width: 4%;
  }
  figcaption {
    padding-left: 0.5rem;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
}

.copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: 40;
  font-variation-settings: "wdth" 100;
}

footer {
  margin-top: 3rem;
  border-top: 1px rgba(189, 192, 205, 1);
  border-top: 1px solid #333;
}

/* BREAKING POINTS */

@media screen and (max-width: 630px) {
  header {
    flex-direction: row !important;

    .navbar {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }
  }

  #hamburger-button {
    background-color: black;
    border: 0;
  }

  .hamburger-container {
    display: block;
    order: 1;
    .hamburger-img {
      width: 30px;
    }
  }
  #logo {
    order: 2;
    flex: 1;
    font-size: 1.5rem;
    padding: 10px 10px;
    text-align: center;
  }
  .cart-wrapper {
    display: block !important;
    order: 3;
  }
  .nav-links {
    display: none; /* Hiding links*/
    flex-direction: column;
    position: absolute;
    top: 20px;

    width: 28%;
    z-index: 10;
    background-color: black;
  }

  .nav-links.open {
    display: flex !important;
    background-color: black;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);

    .nav-item {
      margin-left: 0.3rem;
      color: rgba(189, 192, 205, 1);
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      font-size: 1.1rem;
      font-weight: 700;
      font-variation-settings: "wdth" 100;
      margin-left: 0rem;
      text-align: center;
    }
    li {
      align-self: flex-start;
      border-bottom: 1px solid #333;
      border-top: 1px solid #333;
      padding: 15px 0px 15px 0px;
      width: 100%;
      text-align: start;
    }
  }

  #shoppingCartImg {
    width: 32px;
    margin: 0;
    padding: 1px 6px;
  }

  main {
    flex-direction: column;
    .main-img {
      width: 100%;
      margin-left: 0;
    }
    .main-texts {
      margin-left: 0rem;
    }
    .heading-welcome {
      font-size: 1.7rem;
      font-weight: 700;
      font-variation-settings: "wdth" 100;
    }

    .text-homepage {
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      font-variation-settings: "wdth" 100;
    }
  }

  @media screen and (max-width: 370px) {
    .navbar {
      .hamburger-img {
        width: 25px;
      }
      #logo {
        order: 2;
        flex: 1;
        font-size: 1rem;
        padding: 10px 10px;
        text-align: center;
      }
      #shoppingCartImg {
        width: 25px;
        margin: 0;
        padding: 1px 6px;
      }
    }
  }
}
@media screen and (max-width: 440px) {
  main {
    .heading-welcome {
      font-size: 1.3rem;
      font-weight: 700;
      font-variation-settings: "wdth" 100;
    }

    .text-homepage {
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      font-weight: 400;
      font-variation-settings: "wdth" 100;
    }
  }
}
