body {
  background-color: black;
  color: rgba(189, 192, 205, 1);
}

/*HEADER*/

header {
  display: flex;
  align-items: center;
}

#logo {
  font-family: "Alfa Slab One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: rgba(144, 177, 147, 1);
}

.nav-links {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
}
.nav-item {
  color: rgba(189, 192, 205, 1);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  font-variation-settings: "wdth" 100;
  margin-left: 3rem;
}

.nav-item:visited {
  color: rgba(189, 192, 205, 1);
}
.nav-item:hover {
  color: rgba(144, 177, 147, 1);
}

/*MAIN*/

.main-img {
  width: 50%;
}
.heading-welcome {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  font-variation-settings: "wdth" 100;
}

.text-homepage {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-variation-settings: "wdth" 100;
}

/*FOOTER*/

.copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  font-weight: 40;
  font-variation-settings: "wdth" 100;
}

footer {
  margin-top: 3rem;
  border-top: 1px rgba(189, 192, 205, 1);
}
