.cart-item-details {
  display: flex;
  align-items: center;
  gap: 20px;
}
h1 {
  color: rgba(189, 192, 205, 1);
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  font-variation-settings: "wdth" 100;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: normal;
  align-content: center;
  padding: 40px;
  margin: 0;
  color: rgba(189, 192, 205, 1);
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  font-variation-settings: "wdth" 100;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #333;
  padding: 15px 0;
}

.delete-icon {
  width: 2rem;
}

@media screen and (max-width: 630px) {
  main {
    h1 {
      color: rgba(189, 192, 205, 1);
      text-decoration: none;
      font-family: "Open Sans", sans-serif;
      font-size: 1.2rem;
      font-weight: 800;
      font-variation-settings: "wdth" 100;
    }
  }
  .cart-container {
    display: flex;
    flex-direction: column;
    align-items: normal;
    align-content: center;
    padding: 0;
    margin: 0;
    color: rgba(189, 192, 205, 1);
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-variation-settings: "wdth" 100;
  }
  .cart-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    width: 100%;
  }
}
